<div class="dashboard">
    <div class="top-section">
      <h2 class="title">
        <span class="title-rosita">UEBonsitos-Again</span>
      </h2>
      <button class="user-button">
        <i class="fas fa-user"></i> Generar Reporte
      </button>
    </div>
  
    <div class="middle-section">
      <!-- Aquí se cargará el componente Administrador -->
      <router-outlet></router-outlet>
    </div>
  
    <div class="bottom-section">
      <p>UEBonsitos-Again</p>
      <p>Tatiana Ortiz</p>
      <p>Sergio Bedoya</p>
      <p>Fabian Montaño</p>
      <p>Alejandro Cipamocha</p>
    </div>
  </div>
  